<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="ISO-8859-1">
<title>** Home **</title>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="background.css">
</head>
<body class="h-100">
<div class="text-center space">
	<h2>STUDENT MANAGEMENT SYSTEM</h2>
<br> <br>
<a href="/addUsers"> <button type="button" class="btn btn-success">ADD</button> </a>
<a href="/listUsers"> <button type="button" class="btn btn-info">LIST</button> </a>
<a href="/updateList"> <button type="button" class="btn btn-primary">UPDATE</button> </a>
<a href="/removeUser"> <button type="button" class="btn btn-danger">DELETE</button> </a>
</div>
</body>
</html>