<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CREATE</title>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="h-100">
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
			 <h2>Students :</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Roll no.</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="temp : ${list_users}">
                        <td th:text="${temp.rollno}"></td>
                        <td th:text="${temp.name}"></td>
                        <td th:text="${temp.email}"></td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>
</body>
</html>